<main class="m-3">
  <h1 class="mb-2">Panel de Controles</h1>
  <app-components-card card-title="Crear Nuevo Control">
    <form [formGroup]="controlForm" class="flex flex-col mt-2">
      <mat-form-field>
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sensor Humedad</mat-label>
        <input matInput type="number" formControlName="sensorHumedad"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sensor Temperatura</mat-label>
        <input matInput type="number" formControlName="sensorTemperatura"/>
      </mat-form-field>
      <button mat-flat-button color="accent" (click)="createControl()">Guardar</button>
    </form>
  </app-components-card>

  <h2 class="mt-2">Controles</h2>
  <div class="grid grid-cols-4  gap-2">
    @for (control of controlsList; track $index) {
      <app-components-card class="col-span-2" [card-title]="control.controlId.toString()">
        <ul class="list-disc [&>li>strong]:font-medium mb-2">
          <li><strong>Fecha:</strong> {{ control.fecha }}</li>
          <li><strong>Sensor Humedad:</strong> {{ control.sensorHumedad }}</li>
          <li><strong>Sensor Temperatura:</strong> {{ control.sensorTemperatura }}</li>
        </ul>
        <div class="flex gap-2">
          <button mat-raised-button color="primary" (click)="openDialog( control )">
            <mat-icon>
              mode_edit
            </mat-icon>
            Editar
          </button>
          <button mat-raised-button color="warn" (click)="deleteControl(control.controlId)">
            <mat-icon>
              delete
            </mat-icon>
            Borrar
          </button>
        </div>
      </app-components-card>
    } @empty {
      <app-components-card card-title="No hay controles registrados." class="col-span-4" />
    }

  </div>

</main>
