<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/invernadero/usuarios" routerLinkActive="bg-purple-500">Usuarios</a>
      <a mat-list-item routerLink="/invernadero/reportes" routerLinkActive="bg-purple-500">Reportes</a>
      <a mat-list-item routerLink="/invernadero/control" routerLinkActive="bg-purple-500">Control</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Control Invernadero</span>
    </mat-toolbar>

    <ng-content/>

  </mat-sidenav-content>
</mat-sidenav-container>
